@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                SCRUM es un modelo de referencia que define un conjunto de prácticas y roles,
                y que puede tomarse como punto de partida para definir el proceso
                de desarrollo que se ejecutará durante un proyecto. Los roles principales en Scrum son el ScrumMaster,
                que mantiene los procesos y trabaja de forma similar al director de proyecto, el ProductOwner,
                que representa a los stakeholders (interesados externos o internos), y el Team que incluye a los desarrolladores.
            </p>
        </div>
    </section>
}
<h3>Scrum se caracteriza por:</h3>
<ol class="round">
    <li class="one">
        <p>Adoptar una estrategia de desarrollo incremental,</p>
        <p>en lugar de la planificación y ejecución completa del producto.</p>
    </li>

    <li class="two">
        <p>Basar la calidad del resultado más en el conocimiento tácito de las personas</p>
        <p> en equipos autoorganizados, que en la calidad de los procesos empleados.</p>
        
    </li>

    <li class="three">
        <p>Solapamiento de las diferentes fases del desarrollo, </p>
        <p>en lugar de realizar una tras otra en un ciclo secuencial o de cascada</p>        
    </li>
</ol>
