@model ScrumAdmin.Models.STAKEHOLDER

@{
    ViewBag.Title = "Crear Stakeholder";
}

<h2>Crear</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>STAKEHOLDER</legend>

		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar a la lista", "Index")
</div>


