@model ScrumAdmin.Models.EQUIPO

@{
    ViewBag.Title = "Crear";
}

<h2>Crear Miembro de Equipo</h2>
<br />
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>EQUIPO</legend>

		@Html.Partial("_CreateOrEditMiembro", Model)

        <p>
            <input type="submit" value="Crear" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>


