@model ScrumAdmin.Models.PROYECTO

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<br />

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>PROYECTO</legend>

        @Html.HiddenFor(model => model.ID)
		@Html.Partial("_CreateOrEdit", Model)

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
