@model ScrumAdmin.Models.USER_STORY

@{
    ViewBag.Title = "Eliminar";
}

<h2>Eliminar historia de usuario</h2>

<h3>¿Esta seguro que desea seguir?</h3>
<fieldset>
    <legend>USER_STORY</legend>

    <div class="display-label">Nombre: @Model.NOMBRE</div>

    
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar", "Index")
    </p>
}


